app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/education/android/geophysics/сore/dagger/module/feature/PlacesListModule_PlacesListActivityInjector$CalculateActivitySubcomponent$Factory.class
app/build/
.idea/
.gradle/
